{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="background-col">

  <div class="container">
  <header class="text-center py-5 mb-4">

       <h1 class="font-weight-bold head">My Profile</h1>

  </header>
  </div>
	
   <div class="container">
     <div class="row">
       <!-- Team Member 1 -->
       <div class="col-xl-5 col-md-5">
         <div class="card border-0 shadow">
           <img src="{% static 'vik.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Vikih Fitrianih</h5>
             <ul class="list-unstyled mb-0">
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/vftri_/" target="_blank">
                 <i class="fab fa-instagram text-black-50"> </i>
               </a>
              </ul>
             
           </div>
         </div>
       </div>
	   <div class="p-3 col-12 col-md-5 text-center text-md-left">
                <h1>Hello,</h1>
                <h1>I'm Vikih Fitrianih</h1>
                <h2>You can call me Vikih</h2>
				
				<div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 text-center">
                <div class="accordion p-3">
                    <div class="accordion-header">
                        <h3>Activities</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>I'm Study at Fasilkom UI</h4>
                        <h4>When i tired and bored, i play games or rest</h4>
                    </div>

                    <div class="accordion-header">
                        <h3>Experiences</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Staff of Nihongo Club <strong> SMAN 5</strong></h4>
                        <h4>Head of <strong>Traditional Dance SMAN 5 </strong></h4>
                        
                    </div>


                    <div class="accordion-header">
                        <h3>Educations</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Paud Melati</h4>
						<h4>SDN Salembaran II</h4>
						<h4>SMPN 1 Kosambi</h4>
						<h4>SMAN 5 Kabupaten Tangerang</h4>
                    </div>
                
                    <div class="accordion-header">
                        <h3>Achievements</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Study at Fasilkom UI</h4>
                    </div>


                </div>
            </div>
        </div>
        </div>
	   

       <script src="{% static "js/main.js" %}"></script>
        <div class="container-fluid">
          <button class="btn fixed-bottom m-4" id="change_theme_button">Change Theme</button>
        </div>
</div>
{% endblock body %}
